/* Estilos CSS para dar formato al menú horizontal */
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

p {
    font-family: 'Play', sans-serif;
}

nav {
    background-color: #ffffff;
    /* Fondo de color*/
    margin: 0px;
    /* Sin margen */
    text-decoration: none;
    color: #DC879A;
    /* Letras de color */
    font-weight: bold;
    /* Texto en negrita */
    font-size: 18px;
    /* Ancho menú */
    margin-right: 0px;
    /* Sin margen */
    display: flex;
    justify-content: space-between;
    padding: 24px;
    /* Ancho menú */
    padding-left: 150px;
    /* Espacio a la izquierda */
    padding-right: 150px;
    /* Espacio a la derecha */
    font-family: 'Play', sans-serif;
}

.logo {
    width: 30px;
    /* Tamaño del logo */
    height: 30px;
    /* Altura automática según el ancho */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
    /* Espacio entre palabras */
}

.inicio-sesion {
    text-align: center;

}

.caja {
    background-color: white;
    /* Color de fondo*/
    color: #DC879A;
    /* Color del texto */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 1px;
    /* Espaciado interno */
    width: 320px;
    /* Ancho de la caja */
    padding-left: 20px;
    /* Espacio a la izquierda */
    padding-right: 0px;
    /* Espacio a la derecha */
    position: relative;
    margin-top: 100px;
    margin-left: 100px;

}

.container1 {
    width: 100%;
    height: 670px;
    background-color: #DC879A;
}

.container2 {
    width: 100%;
    height: 750px;
    background-color: white;
}

.container3 {
    width: 100%;
    height: 600px;
    background-color: #DC879A;
}

.container-content-left {
    width: 50%;
    height: 700px;
    float: left;
}

.container-content-rigth {
    width: 50%;
    height: 670px;
    float: right;
    background-color: rgb(176, 21, 21);
    background-image: url(Imagenes/inicial.jpg);
    background-size: cover;
    /* Ajusta la imagen al tamaño del div */
    background-position: center;
    /* Centra la imagen en el div */
}

.container-secondcontent-left {
    width: 26.5%;
    height: 480px;
    margin-right: 5%;
    margin-top: 50px;
    float: right;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #FBE3E3;
}

.container-secondcontent-central {
    width: 26.5%;
    height: 480px;
    margin-right: 5%;
    margin-top: 50px;
    float: right;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #FBE3E3;
}

.container-secondcontent-rigth {
    width: 26.5%;
    height: 480px;
    margin-right: 5%;
    margin-top: 50px;
    float: right;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #FBE3E3;
}

.img-rigth {
    width: 250px;
    /* Ancho deseado */
    height: auto;
    margin-left: 75px;
    margin-top: 20px;
}

.img-central {
    width: 320px;
    /* Ancho deseado */
    height: auto;
    margin-left: 45px;
    margin-top: 30px;

}

.img-left {
    width: 300px;
    /* Ancho deseado */
    height: auto;
    margin-left: 50px;

}

.text-rigth1 {
    text-align: center;
    color: #DC879A;
    font-size: 30px;
    font-weight: bold;
    margin-top: 38px;
}

.text-rigth2 {
    text-align: center;
    color: #DC879A;
    font-size: 20px;
}

.text-rigth3 {
    text-align: center;
    color: #DC879A;
    font-size: 15px;
}


.text-central1 {
    text-align: center;
    color: #DC879A;
    font-size: 30px;
    font-weight: bold;
    margin-top: 58px;
}

.text-central2 {
    text-align: center;
    color: #DC879A;
    font-size: 20px;
}

.text-central3 {
    text-align: center;
    color: #DC879A;
    font-size: 15px;
}

.text-left1 {
    text-align: center;
    color: #DC879A;
    font-size: 30px;
    font-weight: bold;
}

.text-left2 {
    text-align: center;
    color: #DC879A;
    font-size: 20px;
}

.text-left3 {
    text-align: center;
    color: #DC879A;
    font-size: 15px;
}



.container-thirdcontent-left {
    width: 50%;
    height: 600px;
    float: left;
    background-color: rgb(176, 21, 21);
    background-image: url(Imagenes/Galletas2.jpeg);
    background-size: cover;
    /* Ajusta la imagen al tamaño del div */
    background-position: center;
    /* Centra la imagen en el div */
}

.container-thirdcontent-rigth {
    width: 42.5%;
    height: 500px;
    margin-top: 0px;
    margin-left: 5%;
    float: left;
    background-color: #DC879A;
}

.texto {
    color: white;
    /* Color del texto blanco */
    font-size: 50px;
    /* Tamaño de la fuente */
    font-weight: bolder;
    padding-left: 0px;
    /* Espacio a la izquierda */
    position: relative;
    display: flex;
    /* Utiliza el modelo de caja flexible */
    flex-wrap: wrap;
    /* Permite el ajuste de palabras a la siguiente línea */
    margin-left: 100px;

}

.texto2 {
    color: white;
    /* Color del texto blanco */
    font-size: 20px;
    /* Tamaño de la fuente */
    padding-left: 0px;
    /* Espacio a la izquierda */
    position: relative;
    display: flex;
    /* Utiliza el modelo de caja flexible */
    flex-wrap: wrap;
    /* Permite el ajuste de palabras a la siguiente línea */
    margin-left: 100px;
}

.texto3 {
    background-color: white;
    /* Color de fondo*/
    color: #DC879A;
    /* Color del texto */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 1px;
    /* Espaciado interno */
    width: 320px;
    /* Ancho de la caja */
    padding-left: 20px;
    /* Espacio a la izquierda */
    padding-right: 0px;
    /* Espacio a la derecha */
    position: relative;
    margin-top: 30px;
    margin-left: 100px;
    text-decoration: none;
    transition: 0.5s;
}

.texto3 a {
    text-decoration: none;
    color: #DC879A;
    transition: 0.5s;
}

.texto3 a:hover {
    color: #fff;
}

.texto4 {
    color: white;
    /* Color del texto blanco */
    font-size: 16px;
    /* Tamaño de la fuente */
    padding-left: 0px;
    /* Espacio a la izquierda */
    position: relative;
    display: flex;
    /* Utiliza el modelo de caja flexible */
    flex-wrap: wrap;
    /* Permite el ajuste de palabras a la siguiente línea */
    margin-left: 100px;
}

.text-center1 {
    text-align: center;
    color: #DC879A;
    font-size: 30px;
    margin-top: 100px;
    font-family: 'Play', sans-serif;
}

.text-center2 {
    text-align: center;
    color: #DC879A;
    font-size: 40px;
    margin: 15px;
    font-weight: bold;
}

.text-center3 {
    text-align: center;
    color: #DC879A;
    font-size: 20px;
    margin: 0px;
}

.texto5 {
    color: white;
    /* Color del texto blanco */
    font-size: 50px;
    /* Tamaño de la fuente */
    font-weight: bolder;
    padding-left: 0px;
    /* Espacio a la izquierda */
    position: relative;
    display: flex;
    /* Utiliza el modelo de caja flexible */
    flex-wrap: wrap;
    /* Permite el ajuste de palabras a la siguiente línea */
    margin-left: 100px;

}

.texto6 {
    color: white;
    /* Color del texto blanco */
    font-size: 20px;
    /* Tamaño de la fuente */
    padding-left: 0px;
    /* Espacio a la izquierda */
    position: relative;
    display: flex;
    /* Utiliza el modelo de caja flexible */
    flex-wrap: wrap;
    /* Permite el ajuste de palabras a la siguiente línea */
    margin-left: 100px;
}

.texto7 {
    background-color: white;
    /* Color de fondo*/
    color: #DC879A;
    /* Color del texto */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 15px;
    /* Espaciado interno */
    width: 300px;
    /* Ancho de la caja */
    padding-left: 20px;
    /* Espacio a la izquierda */
    padding-right: 0px;
    /* Espacio a la derecha */
    position: relative;
    margin-top: 10px;
    margin-left: 100px;
}

.texto8 {
    color: white;
    /* Color del texto blanco */
    font-size: 16px;
    /* Tamaño de la fuente */
    padding-left: 0px;
    /* Espacio a la izquierda */
    position: relative;
    display: flex;
    /* Utiliza el modelo de caja flexible */
    flex-wrap: wrap;
    /* Permite el ajuste de palabras a la siguiente línea */
    margin-left: 100px;
}


.footer {
    background: #ffffff;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: #DC879A;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: #DC879A;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}



.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ffffff; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=enviar] {
    background-color: #FFFFF;
    color: #DC879A;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    width: 50px;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=enviar]:hover {
    background-color: #FFFFF;
    
  }

  .container-form {
    border-radius: 5px;
    background-color: #DC879A;
    padding: 0px;
    margin-top: 0px;
    color: #ffffff;
    font-family: 'Play', sans-serif;
    width: 70%;
  }

  .texto9 {
    color: white;
    font-size: 40px;
    /* Tamaño de la fuente */
    font-weight: bolder;
    padding-left: 0px;
    /* Espacio a la izquierda */
    position: relative;
    display: flex;
    /* Utiliza el modelo de caja flexible */
    flex-wrap: wrap;
    /* Permite el ajuste de palabras a la siguiente línea */
    margin-left: 0px;
}

.link {
    text-decoration: none;
    transition: 0.5s;
}

.link a {
    text-decoration: none;
    color: #DC879A;
    transition: 0.5s;
}

.link a:hover {
    color: #fff;
}



